div{
    background-color: blue;
    color:antiquewhite;
    
    margin: 10px;
    padding: 20px;
    border:1px solid black;
    border-width: 20px 20px 20px 20px;
    margin: 0 auto;
    display: inline-block;
    
    
    

}
h2{
    text-align: center;
}