table{
    border: 1px solid black;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
    -o-border-radius:0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    position: relative;
    top:100px;
    left: 450px;
    border-spacing:0 ;
}
caption{
    border: 1px solid black;
    border-radius: 25px 25px 0 0;
    -webkit-border-radius:25px 25px 0 0;
    -moz-border-radius:25px 25px 0 0;
    -o-border-radius:25px 25px 0 0;
    text-transform: uppercase;
    background-color: gray;
    color: white;
}
tr:nth-child(odd){
    background-color: #F2F2F2F2;
}
tr:nth-child(even){
    background-color: #CDBB79;
}
span{
    visibility: hidden;
}
td:active>span{
    visibility: visible;
}
td{
    width:75px;
    height:75px;
    vertical-align:top;
    color:blue;
}
.holiday{
    background-color: cornflowerblue;
}
tr:last-child>td:last-child{
    border-radius:  0 0 10px 0;
}
