nav{
    background-color: rgb(43, 87, 2);
    border: 1px solid black;
    width:100px;
    height:100vh;
    padding:20px;
    float: left;
}
nav a{
    display:block;
    text-decoration: none;
    color: white;
    line-height: 10px;
    padding:20px;
    background-color: rgb(43, 87, 2);
}
nav,section{
    display: inline-block;
}
section{
   margin-left: 10px;
   height: 100vh;
}