body{
    background-color: rgb(166, 187, 219);
}
header{
    background-color: cornflowerblue;
    text-align: center;
    height: 200px;
    padding: 5px;
}
header a{
    display: block;
    text-decoration: none;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    line-height: 25px;
    background-color: white;
    font-size: 140%;
    padding: 5px;
}
footer{
    background-color: cornflowerblue;
    text-align: center;
    text-transform: uppercase;
    height: 100px;
    line-height: 45px;
    font-size: 120%;
}
#test{
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    border: 1px solid;
    padding: 3px;
}
ul{
    list-style: upper-roman;
}
@media screen and (min-width:900px) {
    header{
        background-color: rgb(166, 187, 219);
    }
    footer{
        background-color: rgb(166, 187, 219);
    }
    #main{
        width: 60%;
    }
    #main,#clas{
        display: inline-block;
        margin: 20px;
    }    
    #clas{
        float: left;
    }
    h1:after
    {
        content:"(I guess)";
    }
}
@media print {
    header a{
        border: 0px;
    }
    h1{
        color: gray;
    }
}