span{
    height: 50px;
    background-color: aqua;
    width: 75px;
    display: block;
    float:left;
}
div{
    height:100px;
    width: 45%;   
    background-color: brown;
    clear:both ;
    
}
p{
    width: 200px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}